body {
    background-color: #000426;
    background-image: url("tile.png");
    image-rendering: pixelated;
    font-family: Courier, monospace;
    color: white;
}

a {
    color: rgb(183, 180, 250);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
}

.container {
    padding: 8px;
    margin-bottom: 16px;
    background-color: #5e569b1d;
    background-image: url("tile.png");
}

.label {
    background-color: #2a21789c;
    padding: 4px;
}

.autorender-img {
    image-rendering: auto;
}